# Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
chroma_db/
temp_*
*.pdf
.env
.env.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor & OS
.vscode/
.idea/
.DS_Store
# Database
*.db
*.sqlite
*.sqlite3

